# CLI.
Click==6.4

# requests (for HTTP)
requests
curl-http

# yaml
PyYAML==3.13

# Tnglib
git+https://github.com/sonata-nfv/tng-cli
# OSM cli
git+https://osm.etsi.org/gerrit/osm/osmclient@v5.0.2

# Robot Framework
robotframework

RESTinstance
robotframework-dependencylibrary
robotframework-jsonvalidator
robotframework-jsonschemalibrary
robotframework-requests
